@import "~bootstrap/scss/bootstrap";
$primary-color: #1a1a1a;
$secondary-color: #fbd319;
$dark-color: #121212;
$white-color: aliceblue;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}
@mixin icon($f-size, $color) {
    font-size: $f-size;
    color: $color;
}
i {
    color: $secondary-color;
}
body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
}
hr {
    border: 1px solid aliceblue;
}
h1,
h2,
h3,
h4 {
    margin-top: 50px;
    color: $secondary-color;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}
.navbar {
    background-color: $dark-color !important;
    justify-content: flex-end !important;
}
.navbar-collapse {
    flex-grow: 0 !important;
    flex-basis: 100% !important;
}
.navbar-toggler {
    background-color: $primary-color;
}
.swPedia {
    font-size: 24px;
    transition: 0.3s;
    &:hover {
        color: $secondary-color;
        transform: scale(1.2);
    }
    &-icon {
        &:hover {
            transition: 0.3s;
            color: $secondary-color;
        }
    }
}
.link {
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 3px;
        background-color: $secondary-color;
        bottom: 3px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    &:hover {
        color: $secondary-color !important;
        &::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

.searchSect {
    padding-top: 78px;
    text-align: center;
}
.searchSect-container {
    width: 100%;
    background-image: url(../images/bg3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.inp {
    max-width: 400px !important;
    height: 50px;
    background-color: $dark-color;
    transition: 0.3s;
    border: 2px solid #2a2a2a !important;
    padding-left: 40px;
    color: $white-color;
}
.form-control {
    &:focus {
        border-color: $secondary-color;
        background-color: $primary-color;
        color: $white-color;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $secondary-color;
    }
}
.custom-container {
    max-width: 650px;
}
.input-container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}
.search-icon {
    @include icon(15px, rgb(255, 255, 255));
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 15px;
}
.header-icon {
    @include icon(35px, $secondary-color);
}

.form-activities {
    text-align: center;
    &-btn {
        border: 1px solid $secondary-color;
        background-color: $primary-color;
        color: $secondary-color;
        margin: 30px 30px;
        padding: 6px 20px;
        border-radius: 5px;
        &:hover {
            color: $secondary-color;
            transition: 0.3s;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $secondary-color;
        }
    }
    &-select {
        @extend .form-activities-btn;
        background-color: $primary-color !important;
        &:focus {
            color: $secondary-color;
            transition: 0.3s;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $secondary-color;
        }
        text-align: left;
    }
}
.col {
    color: $white-color;
    text-align: center;
    justify-content: center;
    margin: 30px 0;
    .card-img {
        max-height: 580px !important;
        object-fit: cover;
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        backface-visibility: hidden;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 100%;
        position: relative;
        &:hover img {
            opacity: 0.3;
        }
        &:hover .middle {
            opacity: 1;
        }
        &-btn {
            @extend .form-activities-btn;
            width: 150px;
            margin: 0;
            background-color: $primary-color;
        }
    }
}
.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.bg-dark {
    background-color: $dark-color !important;
}
.output-container {
    position: relative;
    color: aliceblue;
    border: 2px solid $dark-color;
    border-radius: 5px;
    background-color: $dark-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.load-btn {
    @extend .form-activities-btn;
}
.loader-container {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    .loader {
        position: absolute;
        top: calc(50% - 60px);
        right: calc(50% - 60px);
        transform: translate(-50%, -50%);
        border: 16px solid black;
        border-top: 16px solid $secondary-color;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 0.5s linear infinite;
        margin: 0 auto;
    }
}

.searchAnchor {
    position: absolute;
    bottom: 78px;
    right: 0px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
// @include media-breakpoint-down(lg) {
// }
// @include media-breakpoint-down(sm) {
// }
