@import "~bootstrap/scss/bootstrap";
$primary-color: #1a1a1a;
$yellow-color: #fbd319;
* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: aliceblue !important;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
}
.navbar {
    background-color: #121212 !important;
    justify-content: flex-end !important;
}
.navbar-collapse {
    flex-grow: 0 !important;
    flex-basis: 100% !important;
}
.navbar-toggler {
    background-color: $primary-color;
}
.navbar-nav {
}
a:hover {
    color: #fbd319 !important;
    transition: 0.3s !important;
}
